.img {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  border: 3px solid var(--gray-2);
}

.img img{
    height: 100%;
}

.info {
  margin-top: 0.5rem;
  background-color: var(--deep-dark);
  padding: 0.5rem;
  border-radius: 12px;
}
.title {
  font-size: 2.2rem;
}
.desc {
  font-size: 1.6rem;
  font-family: 'RobotoMono Regular';
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .img {
    height: 350px;
  }
}